.apply {
  padding-top: 100px;
  margin-top: 157px;
 
}
.apply__box {
  display: flex;
align-items: center;
gap: 68px;

}

.apply__title {
  max-width: 484px;
 @extend %title;
margin-bottom: 30px;
}
.apply__text {
 @extend %text;
margin-bottom: 60px;
max-width: 460px;
color: $text-color;
}

.apply__button {
  margin-right: 20px;
  padding: 15px 30px;
 @extend %btn-bg-bd;
}

.apply__button:hover{
  color: #3A6888;
  background-color: transparent;
  border: $bd;
}




.sliders{
  max-width: 594px;
}

.carousel-indicators{
  margin-bottom: -40px;
}